<%= render 'shared/page_title', title: "#{@ingredient.name.capitalize}" %>

<% if @ingredient.recipes.count != 0 %>
  <h4 class="center">Recipes containing <%= @ingredient.name %></h4>
    <%= render "/recipes/listing", obj: @ingredient_recipes %>
<% else %>
  <h4 class="center">There are no recipes containing <span class="hither-green"><%= @ingredient.name %></span> yet</h4>

<% end %>